@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sign</title>
    
    <link href="~/FrameWork/css/entypo.css" rel="stylesheet" />

    <link href="~/FrameWork/css/font-awesome.min.css" rel="stylesheet" />


    <link href="~/FrameWork/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/FrameWork/css/mouldifi-core.css" rel="stylesheet" />

    <link href="~/FrameWork/css/plugins/select2/select2.css" rel="stylesheet" />

    <link href="~/FrameWork/css/mouldifi-forms.css" rel="stylesheet" />

    <link href="~/FrameWork/css/bootstrap-rtl.min.css" rel="stylesheet" />

    <link href="~/FrameWork/css/mouldifi-rtl-core.css" rel="stylesheet" />

    <link href="~/FrameWork/css/plugins/datepicker/bootstrap-datepicker.css" rel="stylesheet" />

    <link href="~/FrameWork/css/plugins/datatables/jquery.dataTables.css" rel="stylesheet" />

    <link href="~/FrameWork/js/plugins/datatables/extensions/Buttons/css/buttons.bootstrap4.css" rel="stylesheet" />


    <link href="~/FrameWork/js/plugins/datatables/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet" />
    
    <link href="~/css/site.css" rel="stylesheet">
    
    @*file Upload css Classes*@
    
    <link href="~/FileUpload/jQuery.FileUpload/css/jquery.fileupload.css" rel="stylesheet"/>

    <link href="~/FileUpload/jQuery.FileUpload/css/jquery.fileupload-ui.css" rel="stylesheet" />

    <link href="~/FileUpload/blueimp-gallery2/css/blueimp-gallery.css" rel="stylesheet" />

    <link href="~/FileUpload/blueimp-gallery2/css/blueimp-gallery-video.css" rel="stylesheet" />

    <link href="~/FileUpload/blueimp-gallery2/css/blueimp-gallery-indicator.css" rel="stylesheet" />

    @*file Upload css Classes*@

    <style>

        @@font-face {
            font-family: 'cairo-regular';
            src: url('../../wwwroot/fonts/cairo-regular.ttf') format('truetype');
        }

        body {
            font-family: cairo-regular
        }
    </style>


    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
<div class="page-container">

    <div class="page-sidebar">
        <div class="sidebar-fixed">
            <header class="site-header">
                <div class="site-logo"></div>
                <div class="sidebar-collapse hidden-xs"><a class="sidebar-collapse-icon" href="#"><i class="icon-menu"></i></a>
                </div>
                <div class="sidebar-mobile-menu visible-xs"><a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="#"><i class="icon-menu"></i></a>
                </div>
            </header>

            <ul id="side-nav" class="main-menu navbar-collapse collapse">
                <li><a href="#"><i class="icon-home"></i><span class="title">الرئيسة</span> <span class="label label-secondary pull-right"></span></a></li>
                
                <li class="has-sub">
                    <a href="#"><i class="icon-doc-text"></i><span class="title">اداره الشــقق</span></a>
                    <ul class="nav collapse">
                        <li><a asp-controller="Apartments" asp-action="Create"><span class="title">اضافة شقــة جــديده *</span></a></li>
                        <li><a asp-controller="Apartments" asp-action="Index"><span class="title">جمــيع الشــقق</span></a></li>
                    </ul>
                </li>

                <li class="has-sub">
                    <a href="#"><i class="icon-doc-text"></i><span class="title">اداره العملاء</span></a>
                    <ul class="nav collapse">
                        <li><a asp-controller="Customers" asp-action="Create"><span class="title">اضافة عمـيل جــديد *</span></a></li>
                        <li><a asp-controller="Customers" asp-action="Index"><span class="title">جمــيع العمــلاء</span></a></li>
                    </ul>
                </li>

            </ul>
            
       


        </div>

    </div>

    <div class="main-container">

        <div class="main-header row">
            <div class="col-sm-6 col-xs-7">

                <ul class="user-info pull-left">
                    <li class="profile-info dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false"> <img width="44" class="img-circle avatar" alt="No" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR7gazKb4zhXOLZaXk5LIQ-7eO3r19dBEYZzcSefsHIa8NvJkn7PvH5Lyc"> معاذ محسن عباس<span class="caret"> </span></a>

                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="icon-user"></i>البروفايل</a></li>
                            @*<li class="divider"></li>*@

                            <li><a href="#"><i class="icon-logout"></i>تسجيل خروج</a></li>
                        </ul>

                    </li>
                </ul>
            </div>

        </div>

        <div class="main-content">
            @RenderBody()
            <br/>
            <br/>
            <br/>
            <br/>
            <footer class="footer-main">
                &copy; <strong></strong> حقوق النشر محفوظه <a target="_blank" href="#"> </a>
            </footer>
        </div>
    </div>

</div>
<script src="~/FrameWork/js/jquery.min.js"></script>
<script src="~/FrameWork/js/bootstrap.min.js"></script>
<script src="~/FrameWork/js/plugins/metismenu/jquery.metisMenu.js"></script>
<script src="~/FrameWork/js/plugins/blockui-master/jquery-ui.js"></script>
<script src="~/FrameWork/js/plugins/blockui-master/jquery.blockUI.js"></script>
<script src="~/FrameWork/js/plugins/jasny/jasny-bootstrap.min.js"></script>
<script src="~/FrameWork/js/jquery.validate.min.js"></script>
<script src="~/FrameWork/js/plugins/scrollbar/perfect-scrollbar.jquery.min.js"></script>
<script src="~/FrameWork/js/functions.js"></script>
<script src="~/FrameWork/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/FrameWork/js/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/FrameWork/js/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
<script src="~/FrameWork/js/plugins/datatables/jszip.min.js"></script>
<script src="~/FrameWork/js/plugins/datatables/pdfmake.min.js"></script>
<script src="~/FrameWork/js/plugins/datatables/vfs_fonts.js"></script>
<script src="~/FrameWork/js/plugins/datatables/extensions/Buttons/js/buttons.html5.js"></script>
<script src="~/FrameWork/js/plugins/datatables/extensions/Buttons/js/buttons.colVis.js"></script>
<script src="~/FrameWork/js/plugins/select2/select2.full.min.js"></script>
<script src="~/FrameWork/js/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/FrameWork/js/plugins/wizard/jquery.bootstrap.wizard.min.js"></script>
    
    <script>

        $(document).ready(function () {

            var $Window = $(window), $Container = $('div.page-container');

            $(".sidebar-collapse-icon").click(function (event) {
                event.preventDefault();

                if ($Container.hasClass('sidebar-collapsed')) {
                    // destroy scrollbars
                    $('.sidebar-fixed').perfectScrollbar('destroy');
                } else {
                    // calling trigger resize
                    $Window.trigger('resize');
                }
            });

            $Window.resize(function resizeScroll() {
                var windowWidth = $Window.width();
                if (windowWidth < 951) {
                    // destroy scrollbars
                    $('.sidebar-fixed').perfectScrollbar('destroy');
                } else {
                    $('.sidebar-fixed').perfectScrollbar();
                }
            }).trigger('resize');

            $(".select2").select2({
                dir: "rtl"
            });

            $(".select2-placeholer").select2({
                allowClear: true
            });

            $('.dataTables-example').DataTable({
                "language": {
                    "search": "بحـــث",
                    "lengthMenu": "عرض _MENU_ صفوف لكل صفحة",
                    "info": "عرض الصفحة _PAGE_ من _PAGES_"
                },

                dom: '<"html5buttons" B>lTfgitp',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        exportOptions: {
                            columns: [0, ':visible']
                        },
                        text: 'نسخ'


                    },
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: ':visible'
                        },
                        text: 'اكسل'
                    },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        },
                        text: 'ملف'
                    },
                    'colvis'
                ]
            });
           
            if ($.isFunction($.fn.bootstrapWizard))
            {

                
                $('#rootwizrd').bootstrapWizard({
                    tabClass: 'wizard-steps',
                    onTabShow: function ($tab, $navigation, index)
                    {
                        $tab.prevAll().addClass('completed');
                        $tab.nextAll().removeClass('completed');
                        $tab.removeClass('completed');
                        
                    }

                });

        }});
        

    </script>

  
@RenderSection("Scripts", required: false)
</body>
</html>
