@model Sign.Models.Business.CostDay

@{
    ViewData["Title"] = "Create";
}

<div class="panel panel-primary">

    <div class="panel-heading clearfix">
        <h3 class="panel-title"> المطــالبه الجارية...</h3>
        <ul class="panel-tool-options">
            <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
            <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
            <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
        </ul>
    </div>

    <div class="panel-body">


        <form asp-action="Create" id="rootwizrd" class="form-wizard">

            <div class="wizard-navbar">
                <ul>
                    <li class="completed"><a href="#tb1" data-toggle="tab"><span>1</span>بيانات المطــالبة</a></li>
                    <li class="completed"><a href="#tb2" data-toggle="tab"><span>2</span>اداره المشـــاريع</a></li>
                    <li class="active"><a href="#tb3" data-toggle="tab"><span>3</span> الاداره المـــالية</a></li>
                    <li><a href="#tb4" data-toggle="tab"><span>4</span> الاداره العليا</a></li>
                    <li><a href="#tb5" data-toggle="tab"><span>5</span>الصنـــدوق</a></li>
                </ul>
            </div>
        <div class="form-horizontal">
       
        <div class="tab-content">

        <div class="tab-pane" id="tb1">
            <div class="row">
                <div class="form-group">
                    <label asp-for="DateTime" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="DateTime" class="form-control" />
                        <span asp-validation-for="DateTime" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="NoteforEngMogem" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="NoteforEngMogem" class="form-control" />
                        <span asp-validation-for="NoteforEngMogem" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="SigforEngmogem" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="SigforEngmogem" class="form-control" />
                        <span asp-validation-for="SigforEngmogem" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="tb2">
            <div class="row">
                        
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <input asp-for="AuditAgree" />
                            <label asp-for="AuditAgree"></label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="AuditNote" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="AuditNote" class="form-control" />
                        <span asp-validation-for="AuditNote" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="AuditSig" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="AuditSig" class="form-control" />
                        <span asp-validation-for="AuditSig" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="ProjectMangerAccept" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="ProjectMangerAccept" class="form-control" />
                        <span asp-validation-for="ProjectMangerAccept" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="NoteforProjectManger" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="NoteforProjectManger" class="form-control" />
                        <span asp-validation-for="NoteforProjectManger" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="SigforProjectManger" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="SigforProjectManger" class="form-control" />
                        <span asp-validation-for="SigforProjectManger" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </div>

        <div class="tab-pane" id="tb3">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <input asp-for="AccbigAccaptable" />
                            <label asp-for="AccbigAccaptable"></label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="AccbigNote" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="AccbigNote" class="form-control" />
                        <span asp-validation-for="AccbigNote" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="AccbigSig" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="AccbigSig" class="form-control" />
                        <span asp-validation-for="AccbigSig" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <input asp-for="AuditManger" />
                            <label asp-for="AuditManger"></label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="AuditmangNote" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="AuditmangNote" class="form-control" />
                        <span asp-validation-for="AuditmangNote" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="AuditmangSig" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="AuditmangSig" class="form-control" />
                        <span asp-validation-for="AuditmangSig" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="tb4">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <input asp-for="EvpAccept" />
                            <label asp-for="EvpAccept"></label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="EvpNote" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="EvpNote" class="form-control" />
                        <span asp-validation-for="EvpNote" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="EvpSig" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="EvpSig" class="form-control" />
                        <span asp-validation-for="EvpSig" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="AGreeAble" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="AGreeAble" class="form-control" />
                        <span asp-validation-for="AGreeAble" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Noted" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Noted" class="form-control" />
                        <span asp-validation-for="Noted" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="CeoSig" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="CeoSig" class="form-control" />
                        <span asp-validation-for="CeoSig" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="tb5">
                
            <div class="row">
                <div class="form-group">
                    <label asp-for="PaymentMethod" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="PaymentMethod" class="form-control" />
                        <span asp-validation-for="PaymentMethod" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="ChequeNumber" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="ChequeNumber" class="form-control" />
                        <span asp-validation-for="ChequeNumber" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="BankId" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="BankId" class="form-control" asp-items="ViewBag.BankId"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="BankNumb" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="BankNumb" class="form-control" />
                        <span asp-validation-for="BankNumb" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="BoxNote" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="BoxNote" class="form-control" />
                        <span asp-validation-for="BoxNote" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Total" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Total" class="form-control" />
                        <span asp-validation-for="Total" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="BoxSig" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="BoxSig" class="form-control" />
                        <span asp-validation-for="BoxSig" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="ChequePic" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="ChequePic" class="form-control" />
                        <span asp-validation-for="ChequePic" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="FirstStatment" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="FirstStatment" class="form-control" />
                        <span asp-validation-for="FirstStatment" class="text-danger"></span>
                    </div>
                </div>
                    
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>

          

                  
              


        <ul class="pager wizard">
            <li class="previous first"><a href="javascript:void(0)">الاول</a></li>
            <li class="previous"><a href="javascript:void(0)"><i class="icon-left-open"></i>السابق</a></li>
            <li class="next last"><a href="javascript:void(0)">الاخير</a> </li>
            <li class="next"><a href="javascript:void(0)">التالي <i class="icon-right-open"></i></a> </li>
        </ul>

        </div>
        </div>
        </form>


    </div>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
